body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: #000123;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navbar__item {
  display: inline-block;
  margin: 0 .75em;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.navbar__item:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -.2em;
  height: 2px;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s,-webkit-transform .2s;
}

.navbar-custom {
  background-color: #000123;
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #fff;
}

.maps-wrapper {
  height: 320px;
}

#topnav .menu-extras {
  float: right;
}

#topnav .navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__logo {
  display: block;
  width: 12rem;
  height: 2rem;
  outline: none;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1, .col-auto {
  -webkit-box-flex: 0;
}

.pr-0, .px-0 {
  padding-right: 0!important;
}

.align-items-center {
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#navbar {
  background: #2d333b;
  color: #fff;
}
#footer {
  background: #2d333b;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

.triangle-container {
  margin-top: 5em;
  width: 0;
  height: 0;
  border-bottom: 5vh solid #2d333b;
  border-left: 100vw solid transparent;
  z-index: 2;
  position: relative;
}

.maps-wrapper {
  height: 400px;
}

.maps-wrapper__overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/en/map_preview.cd106d3d.png);
  background-position: 50%;
  background-size: cover;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/*--------------------------------------------------------------
# img
--------------------------------------------------------------*/
/* Bottom right text */
.text-block1 {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgb(249, 249, 249);
  color: #000123;
  padding-left: 20px;
  padding-right: 20px;
}

.container1 {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
  box-shadow: 0 0 8px 8px #000123 inset;
}

.container1 .content1 {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  box-shadow: 0 0 8px 8px #000123 inset;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(0deg, #000123 0%, #000123 100%);
  padding: 0;
}
#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 70vh;
  padding-top: 60px;
}
#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}
#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}
#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: #fff;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #ef6603;
}
#hero .btn-get-started:hover {
  background: #ef6603;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}
@media (max-width: 768px) {
  #hero .carousel-container {
    height: 90vh;
  }
  #hero h2 {
    font-size: 28px;
  }
}

.hero-waves {
  display: block;
  width: 100%;
  height: 80px;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #000123;
  padding: 60px 0;
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #2d333b;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team .member .social a {
  transition: color 0.3s;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: #2d333b;
  transition: ease-in-out 0.3s;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.team .member .social a:hover {
  background: #000123;
}
.team .member .social i {
  font-size: 18px;
  line-height: 0;
}
.team .member .member-info {
  padding: 25px 15px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #fff;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

@media (max-width:991.98px){
  .neck__image{
    width:90%
  }
  .neck__content{
    width:75%
  }
  .neck__content__title{
    font-size:3.25rem
  }
}
@media (max-width:767.98px){
  .neck__image{
    width:100%
  }
  .neck__image:after{
    background:radial-gradient(ellipse farthest-side at 75% 40%,transparent 0,transparent 50%,#000123 100%)
  }
  .neck__content__title{
    font-size:3rem
  }
}
@media (max-width:575.98px){
  .neck__image{
    width:120%
  }
  .neck__content__title{
    font-size:2.5rem
  }
  .neck__content{
    width:100%
  }
}

/**/
.image-blurred-edge {
  background-image: url('https://www.pcb-arts.com/en/electronics.b1b21282.jpg');
  width: 100%;
  height: 100%;
  /* you need to match the shadow color to your background or image border for the desired effect*/
  box-shadow: 0 0 8px 8px #000123 inset;
}

.text-block2 {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgb(249, 249, 249);
  color: #000123;
  padding-left: 20px;
  padding-right: 20px;
}

.container2 {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
  box-shadow: 0 0 8px 8px #000123 inset;
}

.container2 .content2 {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
  box-shadow: 0 0 8px 8px #000123 inset;
}

.placeholder1 {
  margin-right: auto;
  margin-left:auto;
  margin-top: 20px;
  width: 100%;
  height: 400px;
  position: relative;
  /* this is the only relevant part for the example */
}
/* both DIVs have the same image */
.bg-image-blur1, .bg-image1 {
  background-image: url('https://www.pcb-arts.com/en/electronics.b1b21282.jpg');
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}
/* blur the background, to make blurred edges that overflow the unblurred image that is on top */
.bg-image-blur1 {
  -webkit-filter: blur(40px);
  -moz-filter: blur(40px);
  -o-filter: blur(40px);
  -ms-filter: blur(40px);
  filter: blur(40px);
}
/* I added this DIV in case you need to place content inside */
.content1 {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: 0 0 3px #000;
  text-align: center;
  font-size: 30px;
}